.dropdown {
  width: 530px;
  position: relative;
}

.dropdown-menu {
  background-color: antiquewhite;
  z-index: 1;
  position: absolute;
  float: left;
  width: 100%;
  border-radius: 20px;
}

.hidden {
  margin-top: -35px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.visible {
  margin-top: 5px;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.dropdown-selected-box {
  z-index: 2;
  position: relative;
}

.selected-values-field {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-label {
  color: white;
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
}
