#templateText {
  font-size: 16px;
  color: grey;
  float: left;
  display: flex;
  margin-left: 10px;
}
.selected-values-field {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
